.chatroombox {
  width: 320px;
  margin: 40px auto;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-color: #fffaf6;
}

.sectiontitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.chatroomlist {
  list-style: none;
  padding: 2px;
  margin: 0;
}

.chatroomitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 4px;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(255, 223, 186, 0.3);
  transition: background 0.2s;
}

.chatroomitem:hover {
  background-color: #e2cec3;
}

.chatroomname {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatroomlastmsg {
  font-size: 14px;
  color: #555;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.newchatbtn {
  margin-top: 14px;
  width: 100%;
  padding: 10px;
  background-color: #5e4b3c;
  color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.newchatbtn:hover {
  background-color: #9e8471;
}

.adminChatButton {
  color: #1a73e8; /* 링크 색상 파란색 계열 */
  text-decoration: underline; /* 밑줄 */
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  background: none;
  border: none;
  padding: 10px;
  font-family: inherit;
  transition: color 0.2s ease;
}

.adminChatButton:hover,
.adminChatButton:focus {
  color: #0049b7; /* 진한 파란색으로 호버 효과 */
  outline: none;
  text-decoration: none; /* 호버 시 밑줄 없애도 됨 */
}
