.container {
  display: flex;
  padding: 32px;
  gap: 24px;
  background-color: #fdfaf7;
  font-family: 'Pretendard', sans-serif;
  color: #4d3b30;
}

.leftPanel, .centerPanel, .rightPanel {
  border: 1px solid #e5ded7;
  border-radius: 12px;
  background-color: #fdfaf7;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 600px;
}

.leftPanel {
  width: 24%;
}

.centerPanel {
  width: 38%;
}

.rightPanel {
  width: 38%;
}