.button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-secondary-main); /* 기본 배경 */
  color: var(--color-normal-text);
}

.button:hover {
  transform: translateY(-3px);
}

.button span {
  margin-left: 8px;
  font-size: 14px;
}

.icon {
  font-size: 18px;
}

/* 좋아요 버튼 스타일 */
.like {
  background-color: var(--color-secondary-main); /* 빨간색 */
}

/* 북마크 버튼 스타일 */
.bookmark {
  color: var(--color-normal-text);
}

/* 호버 시 색상 변화 */
.like:hover {
  background-color: #c0392b; /* 호버 시 어두운 빨간색 */
}

.bookmark:hover {
  background-color: #7f8c8d; /* 호버 시 어두운 회색 */
}
