/* src/components/common/CollGrid.module.css */
/* CollGrid.module.css */

.myMasonryGrid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.myMasonryGridColumn {
  padding-left: 20px;
  background-clip: padding-box;

  margin-bottom: 20px; /* adjust bottom spacing between items */
  margin-top: 20px; /* adjust top spacing between items */
}

/* 카드 사이의 수직 간격은 각 카드에서 margin-bottom으로 조절 .card {
  margin-bottom: 20px; /* 상하 간격 동일 적용 }*/
